// 一、颜色规范定义
$color-bg-white:#fff;
$color-bg-gray:#f2f2f4;
$color-bg-navbar:rgba(255, 255, 255, 0.3);


// 二、字体规范定义
// 字体大小
$font-size-small-s:10px;
$font-size-small:14px;
$font-size-normal:16px;
$font-size-large:18px;
$font-size-large-x:22px;
// font-weight
$font-weight-large-x:900;

// 圆角
$border-radius-square:15px;
$border-radius-rectangle:20px;
$border-radius-circle:50%;

// margin
$margin-bottom:30px;
